.phone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 90vw;

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $phone-width;
    height: $phone-height;
    flex-grow: 1;
    gap: $phone-content-gap;
    padding: $phone-padding;
    background: $phone-bg;
    border-radius: $phone-radius;
    box-shadow: $phone-box-shadow;

    .phone-speaker {
      width: $phone-speaker-width;
      display: flex;
      justify-content: space-around;

      .phone-speaker-dot {
        background: $phone-speaker-bg;
        border-radius: $phone-speaker-dot-radius;
        width: $phone-speaker-dot-size;
        height: $phone-speaker-dot-size;
      }
    }

    .phone-screen-wrapper {
      width: $phone-screen-width;
      background: $phone-screen-bg;
      border-radius: $phone-screen-radius;
      max-height: $phone-screen-max-height;
      flex-grow: 1;

      padding: $phone-screen-padding;
      box-shadow: $phone-screen-box-shadow;

      text-align: left;
      display: flex;
      flex-direction: column;
      font-family: monospace;
      font-size: $phone-screen-font-size;
      font-smooth: never;
      -webkit-font-smoothing: none;
    }

    .phone-keyboard {
      display: grid;
      grid-template-columns: $phone-keyboard-template-cols;
      grid-template-rows: $phone-keyboard-template-rows;
      width: $phone-keyboard-width;
      gap: $phone-keyboard-gap;

      user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;

      .phone-keybutton {
        background: $phone-keyboard-key-bg;
        display: flex;
        color: $phone-keyboard-key-color;
        border-radius: $phone-keyboard-key-radius;
        padding: $phone-keyboard-key-padding;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: $phone-keyboard-key-gap;

        box-shadow: $phone-keyboard-key-box-shadow;

        .phone-keybutton-number {
          font-size: $phone-keyboard-key-number-font-size;
        }

        .phone-keybutton-letters {
          font-size: $phone-keyboard-key-letters-font-size;
          flex-grow: 1;
          text-align: right;
        }

        .phone-keybutton-control {
          svg {
            fill: $phone-keyboard-key-color;
          }
        }

        &:hover {
          background: $phone-keyboard-key-bg--hover;
        }

        &:active {
          box-shadow: none;
          transform: translate(-1px, 1px);
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  .phone-wrapper {
    width: unset;

    .phone {
      width: $phone-width--md;
      height: $phone-height--md;
    }
  }
}
