.phone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 90vw;

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $phone-width;
    height: $phone-height;
    flex-grow: 1;
    gap: $phone-content-gap;
    padding: $phone-padding;
    background: $phone-bg;
    border-radius: $phone-radius;
    box-shadow: $phone-box-shadow;

    .phone-speaker {
      width: $phone-speaker-width;
      display: flex;
      justify-content: space-around;

      .phone-speaker-dot {
        background: $phone-speaker-bg;
        border-radius: $phone-speaker-dot-radius;
        width: $phone-speaker-dot-size;
        height: $phone-speaker-dot-size;
      }
    }

    .phone-screen-wrapper {
      width: $phone-screen-width;
      background: $phone-screen-bg;
      border-radius: $phone-screen-radius;
      max-height: $phone-screen-max-height;
      flex-grow: 1;

      padding: $phone-screen-padding;
      box-shadow: $phone-screen-box-shadow;

      text-align: left;
      display: flex;
      flex-direction: column;
      font-family: monospace;
      font-size: $phone-screen-font-size;
      font-smooth: never;
      -webkit-font-smoothing: none;
    }

    .phone-keyboard {
      display: grid;
      grid-template-columns: $phone-keyboard-template-cols;
      grid-template-rows: $phone-keyboard-template-rows;
      width: $phone-keyboard-width;
      gap: $phone-keyboard-gap;
    }
  }
}

@media only screen and (min-width: 400px) {
  .phone-wrapper {
    width: unset;

    .phone {
      width: $phone-width--md;
      height: $phone-height--md;
    }
  }
}
