$phone-bg: rgb(48, 48, 48);
$phone-radius: 2rem;
$phone-padding: 2rem 1rem;
$phone-content-gap: 2rem;
$phone-box-shadow: 4px 4px 12px 4px rgba(1, 1, 1, 0.25);

$phone-width: 100%;
$phone-height: 90%;
$phone-width--md: 280px;
$phone-height--md: 560px;

$phone-speaker-bg: rgb(24, 24, 24);
$phone-speaker-width: 25%;
$phone-speaker-dot-size: 0.65rem;
$phone-speaker-dot-radius: calc($phone-speaker-dot-size / 2);

$phone-screen-bg: rgb(128, 173, 108);
$phone-screen-box-shadow: 0px 0px 12px $phone-screen-bg;
$phone-screen-radius: 1rem;
$phone-screen-padding: calc($phone-screen-radius / 2) $phone-screen-radius;
$phone-screen-width: calc(100% - ($phone-screen-radius * 2));
$phone-screen-font-size: 1.25rem;
$phone-screen-max-height: 35%;
